@import '../values/dimensions';

.runNewMatch{

    display: flex;
    flex-direction: column;
    align-items: center;


    width: 100%;
    height: calc(100vh - #{$headerHeight} - 21px);

    padding-top: 2em;


    p{
        text-align: center;
        width: 100%;
    }

}