.matchInfo.judge{
    
    .enterableText.matchTitle.editing .textEntry{
        input, button{
            font-size: 2em;
        }
    }

    .manageInvitesButton{
        margin-top: 1em;
        height: 2em;
        vertical-align: top;
    }

    .userDisplay{

        margin-bottom: 0;

        div{
            display: block;
        }

        .pendingInvite{
            opacity: 50%;
        }

    }

}