div {
  background-color: darkgray;
}

#teamName {
  margin-bottom: 15px;
}

#teamName h2 {
  display: inline;
}

#teamName button {
  vertical-align: middle;
  margin-left: 5px;
}

.userDisplay {
  display: inline-block;
  margin-right: 1em;
}

.userDisplay img {
  margin-right: 0.5em;
}

.userDisplay p {
  margin: 0px;
  padding: 0px;
}
