@import './values/dimensions';

* {
    box-sizing: border-box;
    margin: 0;
    z-index: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    height: $generalButtonHeight;
    width: $generalButtonWidth;
}

ul{
    margin: 0;
    padding: 0;
}

