#submission {
  border-top-style: solid;
  border-bottom-style: solid;

  margin-top: 1em;
}

#submissionInfo {
  display: inline-block;
}

#submissionOptions {
  float: right;
  vertical-align: bottom;
}
