.deletableListedQuestion.judgeable{

    @include marginBetweenChildrenOfType(".answerJudgement", 1em, true);

    .questionText {
        margin-bottom: 0.5em;
    }

    .answerJudgement{

        display: grid;
        grid-template-columns: 100px auto 15em;
        column-gap: 1rem;
        align-items: center;

        .answerJudgementText{
            place-self: center end;
            font-style: italic;
        }

        .answerJudgementOptions{

            @include marginBetweenChildrenOfType("button", 0.5em, false);

            place-self: center end;

            button{
                width: 7em;
            }

        }

    }

    &.pending{

        .judgementsList{
            opacity: 25%;
        }

    }

}