.questionsComponent.questionsEditor{

    display: flex;
    flex-direction: column;

    .addQuestionButton{
        align-self: flex-start;
    }

    .textEntry{
        margin-bottom: 0.5em;
    }

    .questionListProgressingControls{
        margin-top: 2em;
    }

}